body {
    background-color: #06331d;
    color:white;
    //font-family: 'Inconsolata', Consolas, monospace;
    font-family: monospace;
}
.typing {
    width: 100ch;
    animation: typing 1s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;

  }
  .fa {
    padding: 5px;

    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: white;
    color: black;
  }

  .fa-github{
    background: white;
      color: black;
  }

.fa-twitter{
  background: white;
    color: black;
}
  .fa-envelope{
    background: white;
    color: black;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.post{
  margin: 35px 100px 0px 100px;
  border: 1px solid white;
  padding-bottom: 15px;
  padding-left: 1%;
  padding-right: 1%;
}
.main{
  padding-left: 1%;
}
.data{
  padding-left: 20px;
  font-size: large;
}
.data a{
  color:rgb(255, 255, 255);
}

.data a:hover{
  background-color: #ddd;
    color: black;
}
.data a::before{
  content: "-> ";
}
  .nav{
    overflow: hidden;
      margin: 0 auto;
  }

  .nav ul{
    list-style-type: none; 
    margin: 0;
  padding: 0;
}

  .nav li {
    float: left;
    padding-left: 1%;
    }

  .nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .flicker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.2);
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    animation: flicker 0.12s infinite;
}
@keyframes flicker {
  0% {
    opacity: 0.552;
  }
  5% {
    opacity: 0.48287;
  }
  10% {
    opacity: 0.59134;
  }
  15.0% {
    opacity: 0.79543;
  }
  20% {
    opacity: 0.75134;
  }
  25% {
    opacity: 0.1956;
  }
  30.0% {
    opacity: 0.90687;
  }
  35% {
    opacity: 0.122;
  }
  40% {
    opacity: 0.62254;
  }
  45% {
    opacity: 0.56977;
  }
  50% {
    opacity: 0.9925;
  }
  55.0% {
    opacity: 0.55487;
  }
  60.0% {
    opacity: 0.16607;
  }
  65% {
    opacity: 0.12353;
  }
  70% {
    opacity: 0.2214;
  }
  75% {
    opacity: 0.67908;
  }
  80% {
    opacity: 0.97163;
  }
  85.0% {
    opacity: 0.1275;
  }
  90% {
    opacity: 0.37186;
  }
  95% {
    opacity: 0.24475;
  }
  100% {
    opacity: 0.37221;
  }
}
/* based on
https://blog.carbonfive.com/2015/01/07/vintage-terminal-effect-in-css3/
*/
.scanlines {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,.2) 70%,
        rgba(0,0,0,.6)
    );
    background-size: 100% .3rem;
    position: fixed;
    pointer-events: none;
}
.scanlines:before {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 5px;
  background: #fff;
  background: linear-gradient(to bottom,
      rgba(255,0,0,0) 0%,
      rgba(255,250,250,1) 50%,
      rgba(255,255,255,0.98) 51%,
      rgba(255,0,0,0) 100%
  ); /* W3C */
  opacity: .1;
}
.scanlines:after {
  box-shadow: 0 2px 6px rgba(25,25,25,0.2),
      inset 0 1px rgba(50,50,50,0.1),
      inset 0 3px rgba(50,50,50,0.05),
      inset 0 3px 8px rgba(64,64,64,0.05),
      inset 0 -5px 10px rgba(25,25,25,0.1);
}