<!DOCTYPE html>
<html>
<head>
    <title>
        {{site.title}}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="nav">
    <ul>
        {% for na in site.data.nav.items %}
            <li><a href="{{na.url}}">#> {{na.title}}</a></li>
        {% endfor %}
      </ul>
</div> 

<hr>

<div class="main">
    
        {{ content }}

        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="fa fa-linkedin"></a>
        <a href="mailto:{{site.email}}" target="_blank" class="fa fa-envelope"></a>
        <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="fa fa-twitter"></a>
        <a href="http://github.com/{{site.github_username}}" target="_blank" class="fa fa-github"></a>


        <div class="flicker"></div>
        <div class="scanlines"></div>
</div>


<div class="footer">
    <p>{{site.author_name}}<i class="fa fa-map-marker"> </i>127.1</p>
  </div>
</html>