<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="nav">
    <ul>
        {% for na in site.data.nav.items %}
            <li><a href="{{na.url}}">#> {{na.title}}</a></li>
        {% endfor %}
      </ul>
</div> 

<hr  class="dashed">

<div class="main">
    
        {{ content }}
</div>

<div class="flicker"></div>
<div class="scanlines"></div>



<div class="footer">
    <p>{{site.author_name}}<i class="fa fa-map-marker"> </i>127.1</p>
  </div>


</html>