<!DOCTYPE html>
<html>
<head>
    <title>
        funko
    </title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="nav">
    <ul>
        <li><a href="index.html">#> Home</a></li>
        <li><a href="#">#> Write-ups</a></li>
        <li><a href="contributions.html">#> Contributions</a></li>
        <li><a href="tools.html">#> Tools</a></li>
      </ul>
</div> 

<hr>

<div class="main">
    
        <h3 class="typing">GET /{{site.title}} HTTP/2</H3>
        <p>#################</p>

        {{site.aboutme}}

        {% for post in site.posts %}
            -><a href="{{post.url}}"> {{post.title}}, {{post.date}}</a>
        {% endfor %}
        <p class="data">

        </p>
        <p>#################</p>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-envelope"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="http://github.com/{{site.github_username}}" class="fa fa-github"></a>

</div>


<div class="footer">
    <p>Dhmosfunk<i class="fa fa-map-marker"> </i>127.1</p>
  </div>
</html>