---
layout: default
---


<h3 class="typing">GET /projects/ HTTP/2</H3>

    <hr  class="dashed">
    <p class="data">
        {% for project in site.projects %}
        <div id="post_other"><br>
            <b>Title:</b> {{project.title}}<br>
            <b>Repository Link:</b> <a href="{{project.repo_link}}" target="_blank">Link</a> <br>
            {{project.desc}} <br><br>
            {{project.date | date: "%B %d, %Y"}}
        </div>
        {% endfor %}
    </p>
    <hr  class="dashed">