---
layout: default
---


<h3 class="typing">GET /write-ups/ HTTP/2</H3>

<hr  class="dashed">
<div class="split left">
            <p class="data">
                {% for post in site.posts %}        
                <div id="post_data" onclick="location.href='{{post.url}}'" style="cursor: pointer;">
                    <h4>{{post.title}} | {{post.category}} </h4>

                    {{post.desc}} <br><br>
                    {{post.date | date: "%B %d, %Y"}}
                </div>
                {% endfor %}
            </p>
</div>
<div class="split right">
    {{content}}
    </div>
